name: Build Pull-Request

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    name: Build & Test
    uses: ./.github/workflows/_build.yml
    permissions:
      actions: write
      artifact-metadata: write
      checks: write
      contents: read
